<!-- <!doctype html> -->
<html lang="en">

<head>
	<title>Door</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
		
	<!-- nav -->
	<div class="Grid nav">		
		<mat-toolbar>
			<span>Welcome To Service Registry</span>
		</mat-toolbar>
		<mat-divider></mat-divider>

		<section>
			<div class="example-button-row">
				<a mat-button href="myRequests" color="primary">My Requests</a>
				<button mat-button (click)="openDialog('newRequest')">New Request</button>
				<a mat-button href="profile" color="warn">Profile</a>
				<button mat-button (click)="openDialog('about')">About</button>
				
				<a mat-button href="">Logout</a>			
			</div>
		</section>
	</div>
	


</body>

</html>