*,
html {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

body {
	background: rgb(69, 29, 114);
	overflow-x: hidden;
	font-family: "Inter", sans-serif;
	font-weight: 300;
	color: #eee;
	text-shadow: 0 0 0 transparent;
}
.Grid {
	width: 100%;
}
.Cell {
	background: #000;
	padding: 24px;
}
/* ... */
a:link,
a:visited {
	color: #fff;
	opacity: 0.7;
	text-decoration: none;
	transition: all 0.18s ease;
}
a:hover,
a:active {
	opacity: 1;
}
/* ... */
.nav {
}
.brandname {
}
.navigation {
}
.social {
	text-align: right;
}
/* ... */
.navigation a:link,
.navigation a:visited {
	color: #fff;
	margin-right: 1em;
}
.social a:link,
.social a:visited {
	color: #fff;
	margin-left: 1em;
}
/* .... */
/* .... */

#content{
	cursor:col-resize;
}
.content {
	margin-top:0;
	min-height: 60vh;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: -17px;
	position:relative;
}
.projectname {
	font-size: 2vw;
}
.projectdesc {
	line-height: 1.42;
}
.projectdesc a:link,
.projectdesc a:visited {
	box-shadow: 0 1px;
}
.projecthero {
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	word-wrap: break-word;
	vertical-align: top;
	overflow: hidden;
}
.projecthero img,
img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	height: 100%!important;
	overflow: hidden;
}
/* ... */
.footer{
    padding: 0;
    margin: 0;
    line-height: 1.4;
    font-style: normal;
    line-height: 1.2;
    color: blue;
		text-align: right;
	position:relative;
}
.mousearrow{
	position:absolute;
	top:70px;
	right:12px;
	filter:invert(100%);
	width:70px;
	overflow:hidden;
	z-index:1000;
}
.mousearrow img{
	width:100%;
	height:auto;
}
.footer .brandname {
	text-align: right;
}
.example-button-row {
	display: table-cell;
	max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
	margin: 8px 8px 8px 0;
  }
@media only screen and (max-width: 750px) {
	.Cell {
		clear: both;
		display: block;
		max-width: 100%;
		text-align: center;
		width: calc(100% * 12 / 12) !important;
	}
	.navigation a:link,
	.navigation a:visited,
	.social a:link,
	.social a:visited {
		margin:0;
		margin:0 .5em;
	}
	.projectname {
		font-size: 24px;
	}
	.footer .Cell {
		padding: 12px;
	}
	.mousearrow{
		display:none;
	}
	.footer .brandname {
		text-align: center;
	}
	body {
		padding-bottom: 24px;
	}
	.projecthero {
		padding-left:0;
		margin-left:0;
	}
}
