<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<body>
    
    <div class="main">
        <form class="main__form" [formGroup]="forgotPassForm">     

            <div class="main__form__inputs">
                <h3>FORGOT PASSWORD'_' !</h3>
                <div>
                    <input type="email" placeholder="  EMAIL" class="email" required id="input1" formControlName="mail">
                    <span id="span1"></span>
                </div>
            </div>

            <div class="main__form__buttons">
                <button class="main__form__buttons__btn2 button" (click)="onSubmit()" type="submit">
                    <span>Send Password Reset Link</span>
                </button>
            </div>
        
        </form>         
    </div>
    


</body>