<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<body>
    
    <div class="main">
        <form class="main__form" [formGroup]="registerForm">     

            <div class="main__form__inputs">
                <h3>REGISTER!</h3>
               
                <div>
                    <input type="email" placeholder="Full Name" class="email" required id="input1" formControlName="firstName">
                    <span id="span1"></span>
                </div>
                <div>
                    <input type="email" placeholder="Last Name" class="email" required id="input1" formControlName="lastName">
                    <span id="span1"></span>
                </div>
                <div>
                    <input type="email" placeholder="Mobile" class="email" required id="input1" formControlName="mobile">
                    <span id="span1"></span>
                </div>
                <div>
                    <input type="email" placeholder="Email" class="email" required id="input1" formControlName="email">
                    <span id="span1"></span>
                </div>
                
                <div>
                    <input type="password" placeholder="Password" required id="input2" formControlName="userPassword">
                    <i class="fa-solid fa-eye" id="eye-icon"></i>
                    <span id="span2"></span>
                </div>
            </div>

            <div class="main__form__buttons">
                <a href='' class="main__form__buttons__btn1 button" id="register">
                    <span>BACK TO LOGIN PAGE</span>
                </a>
                <button class="main__form__buttons__btn2 button" (click)="onSubmit()" type="submit">
                    <span style="text-align: center;">SIGN UP</span>
                </button>
            </div>
        
        </form>         
    </div>


</body>